[user]
	name = junghyun397
	email = junghyun397@gmail.com
[alias]
        co = checkout
        cob = checkout -b
        s = stash
        sa = stash apply
	rh = reset --hard origin
	fl = push --force-with-lease

[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
