" :set trackactionids
" SYSTEM
set noerrorbells

" SEARCH
set ic
set is
set hls

" NAVIGATION
set scrolloff=5
set rnu
set nu

nnoremap <C-n> :NERDTree<CR>
set NERDTree

" APPEARANCE
set showmode

" KEYMAP
let mapleader = "\<space>"
nnoremap <space> <nop>

map <leader>y "+y
map <leader>x "+x
map <leader>c "+c
map <leader>p "+p
map <leader>P "+P

map <leader>4 $

nmap <C-h> <C-w>h
nmap <C-j> <C-w>j
nmap <C-k> <C-w>k
nmap <C-l> <C-w>l

" IDEA NAVIGATION
noremap <leader>h :action Back<cr>
noremap <leader>l :action Forward<cr>
noremap <leader>e :action GotoFile<cr>
noremap <leader><space> :action SearchEverywhere<cr>

noremap ge :action GotoNextError<cr>
noremap gE :action GotoPreviousError<cr>
noremap gj :action GotoDeclaration<cr>

vmap v :action EditorSelectWord<cr>

" IDEA VIEW
nnoremap <leader>t :action ToggleInlayHintsGloballyAction<cr>

" IDEA EXECUTION
noremap <leader>r :action Run<cr>
noremap <leader>s :action Stop<cr>
noremap <leader>f :action ShowHoverInfo<cr>

" IDEA DEBUG
noremap <leader>dd :action Debug<cr>
noremap <leader>dm :action ToggleLineBreakpoint<cr>

" IDEA VCS
noremap <leader>u :action Vcs.RollbackChangedLines<cr>

" IDEA REFACTOR
noremap <leader>n :action RenameElement<cr>
set idearefactormode=visual
set ideajoin

" PLUGINS
set surround

" HANDLER
" GOTO
sethandler <C-B> a:ide
sethandler <C-U> a:vim
sethandler <C-D> a:vim
" RECENT FILES
sethandler <C-E> a:ide
sethandler <C-F> a:vim
sethandler <C-G> a:vim
sethandler <C-H> a:vim
sethandler <C-I> a:vim
sethandler <C-J> a:vim
" COMMIT
sethandler <C-K> a:ide
sethandler <C-L> a:vim
sethandler <C-M> a:vim
sethandler <C-N> a:vim
sethandler <C-O> a:vim
sethandler <C-P> a:vim
" KILL
sethandler <C-Q> a:ide
sethandler <C-R> a:vim
sethandler <C-S> a:vim
sethandler <C-T> a:vim
sethandler <C-U> a:vim
sethandler <C-V> a:vim
sethandler <C-W> v:ide
sethandler <C-X> a:vim
sethandler <C-Y> a:vim
sethandler <C-[> a:vim
sethandler <C-\> a:vim
sethandler <C-]> a:vim
