[Desktop Entry]
Name=Spotify TUI
Exec=/home/uname/.cargo/bin/spt
Comment=Spotify for the terminal written in Rust
Icon=spotify-client
Type=Application
Terminal=true
StartupNotify=false
Categories=Music;
